@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  background: "#fafafa";
}
* {
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Poppins", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.slick-dots {
  margin-top: 4vmin; /* Remove quotes for valid CSS */
}
